

@keyframes circles-rotate {
  to{transform: rotate(360deg);}
}

@keyframes doubleErrow {
  0%{transform: translate(0, 20px);}
  50%{transform: translate(0, 0);}
  100%{transform: translate(0, 20px);}
}






