
@font-face {
  font-family:'Montserrat-BL';
  src: url("../../assets/fonts/Montserrat-Black.ttf") format('ttf');
}

@font-face {
font-family: 'Montserrat';
src: url("../../assets/fonts/Montserrat-Regular.ttf") format('ttf');
}
@font-face {
  font-family: 'Montserrat-Semibold';
  src: url("../../assets/fonts/Montserrat-SemiBold.ttf") format('ttf');
}
@font-face {
font-family: 'Montserrat-bold';
src: url("../../assets/fonts/Montserrat-ExtraBold.ttf") format('ttf');

}
